<h2>Random Color 4 U</h2>
<div class="random">
  <ul>
      <li class="random-color" style="background-color:<%= randomColor.hex %>"></li>
      <p><%= randomColor.keyword %> <br> <%= randomColor.hex %> </p>
  </ul>
</div>
