body {
  font-family: 'Helvetica';
  padding: 20px 50px;
}

nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

ul {
  display: flex;
  width: 1200px;
  flex-flow: row wrap;
}

li {
  list-style-type: none;
  width: 250px;
  height: 200px;
  margin: 0 20px;
}


.random-color {
  width: 80%;
  height: 500px;
}

.random ul {
  flex-direction: column;
}
